<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear />
    <!--<add key="Carat-Cloud-Platform" value="https://pkgs.dev.azure.com/mhk-carat/carat-cloud-platform/_packaging/Carat-Cloud-Platform/nuget/v3/index.json" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

</configuration>
